<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.userName" @on-enter="query" placeholder="会员名称"/>
                </i-col>
                <i-col span="4">
                    <i-input v-model="q.valueName" @on-enter="query" placeholder="商品名称"/>
                </i-col>
                <Checkbox-group v-model="q.picUrl" @on-change="query" class="inline">
                    <Checkbox label="true"><span>有图评论</span></Checkbox>
                </Checkbox-group>
                <i-button @click="query">查询</i-button>
            </div>
            <div class="buttons-group">
                #if($shiro.hasPermission("comment:toggleStatus"))
                <i-button type="warning" @click="toggleStatus"><i class="fa fa-pencil-square-o"></i>&nbsp;展示/隐藏
                </i-button>
                #end
                #if($shiro.hasPermission("comment:delete"))
                <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
                #end
                <i-button v-if="q.picUrl == true" type="info" @click="seePic"><i class="fa fa-eye"></i>&nbsp;预览图片
                </i-button>
            </div>
        </Row>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="${rc.contextPath}/js/shop/comment.js?_${date.systemTime}"></script>
</body>
</html>