<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="!detail&&showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.goodsName" @on-enter="query" placeholder="商品名称"/>
                </i-col>
                <i-col span="4">
                    <i-select v-model="q.types">
                        <i-option value="0">未成团</i-option>
                        <i-option value="1">已成团</i-option>
                    </i-select>
                </i-col>
                <i-button @click="query">查询</i-button>
            </div>
        </Row>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<script src="${rc.contextPath}/js/shop/group.js?_${date.systemTime}"></script>
</body>
</html>