@primary-color: #2d8cf0;
@light-primary-color: #5cadff;
@dark-primary-color: #2b85e4;
@info-color: #2d8cf0;
@success-color: #19be6b;
@warning-color: #ff9900;
@error-color: #ed3f14;
@title-color: #1c2438;
@content-color: #495060;
@sub-color: #80848f;
@disabled-color: #bbbec4;
@border-color: #ededed;
@divider-color: #e9eaec;
@background-color: #f3f5f4;